<!DOCTYPE html>
<!-- for marion <3 -->
<html>
    <head>
        <title>Watch Vine!</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
        <link href='/css/reset.css' media='all' rel='stylesheet' type='text/css' />
        <link href='/css/main.css' media='all' rel='stylesheet' type='text/css' />

        <script src='/js/jq.1.8.3.min.js' type='text/javascript'></script>
        <script src='/js/main.js' type='text/javascript'></script>
    </head>
    <body>
        <%= yield %>
    </body>
</html>