<div id="wrapper">
    <img id="loading" src="/img/loading.gif" />
    
    <video id="video" loop="true" autoplay="true" preload="auto" src=""></video>
    
    <div id="info"><a href="http://chrisallick.com">chrisallick.com</a></div>
    
    <div id="pause">PAUSE SHUFFLE</div>
    <div id="next">NEXT</div>
</div>